@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.home-component h1{
  text-align: center;
}
.homepage-container{
  text-align: center;
  margin: 10px 30px;
  display: flex;
}
.recently-asked-questions-homepage{
  flex-grow: 2;
}
