/*BREAKPOINT @ 600*/
body{
  margin: 0;
  padding: 0;
}
/*HOMEPAGE STYLES*/

.homepage-welcome-header{
  text-align: center;
}
.homepage-container{
  text-align: center;
  margin: 10px 30px;
}
@media (min-width: 600px) {
  .homepage-container{
    text-align: center;
    display: flex;
  }
  .popular-tags-homepage{
    flex-grow: 1;
  }
  .recently-asked-questions-homepage{
    flex-grow: 2;
  }
}



/*LOGIN AND REGISTRATION AND QUESTION STYLES*/

.loginregistrationpage-component, .questionform-component{
  text-align: center;
  margin: 30px 0;
}
.loginregister-form-container input, .question-form-container input{
  text-align: center;
  margin: 10px 0;
  display: inline;
  font-size: 15px;
}
.login-register-switch-button{
  width: 50%;
  height: 100%;
  cursor: pointer;
}
.login-register-switch-button:hover{
  color: #5859FF;
}
.login-register-switch-button:active{
  color: #0000FF;
}
.loginregister-submit-button{
  font-size: 15px;
  padding: 10px;
  margin: 10px;
}
.login-register-switches{
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}
.questionform-textarea{
  font-size: 15px;
}
@media (min-width: 600px){
  .question-form-container{
    width: 60%;
    margin: 0 auto;
    text-align: left;
  }
  .question-form-container h2{
    text-align: center;
  }
  .question-form-container label{
    font-size: 20px;
    display: block;
    width: 100%;
  }
  .question-form-container #question{
    font-size: 15px;
    display: block;
    width: 100%;
    height: 100px;
  }
  .question-form-container #title{
    width: 50%;
  }
  .question-form-container button{
    height: 50px;
    font-size: 15px;
  }
  .login-register-holder{
    border: 1px solid black;
    width: 350px;
    margin: 0 auto;
  }
  .login-register-switch-button{
    padding: 10px 0;
    border-bottom: 1px solid black;
  }
  .login-register-switch-button:nth-child(1){
    border-right: 1px solid black;
  }
  .loginregister-form-container{
    width: 350px;
  }
  .login-register-switches{
    width: 350px;
    margin: 0 auto;
  }
  #styling-for-active-button{
    border-bottom: 1px solid white;
  }
}
@media (max-width: 600px) {
  .loginregister-form-container input{
    display: block;
    margin: 5px 0;
    font-size: 20px;
  }
  .loginregister-form-container, .question-form-container{
    border: 0;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    font-size: 20px;
  }
  .loginregister-submit-button, .question-form-submit-button{
    font-size: 20px;
    padding: 10px 0;
    width: 50%;
    margin: 20px auto 0 auto;
  }
  .questionform-textarea{
    height: 50px;
  }
}

/*HEADER STYLES*/
.header-top-logo{
  cursor: pointer;
}
.header-website-title{
  text-decoration: none;
  color: black;
}
