@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.homepage-welcome-header{
  text-align: center;
}
/*.homepage-container{
  text-align: center;
  margin: 10px 30px;
  display: flex;
}
.popular-tags-homepage{
  flex-grow: 1;
}
.recently-asked-questions-homepage{
  flex-grow: 2;
}*/

@media (min-width: 600px) {
  .homepage-container{
    text-align: center;
    margin: 10px 30px;
    display: flex;
  }
  .popular-tags-homepage{
    flex-grow: 1;
  }
  .recently-asked-questions-homepage{
    flex-grow: 2;
  }
}
