.header-component{
  background-image: url(skybackground.gif);
  background-size: cover;
  top: 0;
  position: fixed;
  width: 100%;
}
.header-component > h1{
  color: ivory;
  text-align: center;
  margin: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header-top-logo-img{
  margin-top: 4px;
  height: 32px;
  width: 32px;
}
.header-input-field{
  display: grid;
  grid-template-columns: 70% 30%;
  height: 38px;
  padding: 2px;
}
.logged-in{
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 12px;
}
.header-logout-button{
  background-color: orange;
  height: 36px;
  width: 96%;
  color: black;
  border: 1px solid grey;
  border-radius: 10%;
}
.header-logout-button button{
  height: 100%;
  width: 100%;
  background: 0;
  border: 0;
}
.header-search-button{
  background-color: grey;
  width: 21%;
  color: black;
  border: none;
  height: 38px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.header-search-form{
  border-radius: 8px;
  height: 38px;
  max-width: 600px;
}
.header-search-input{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 34px;
  width: 77%;
  border: none;
  border: 1px solid grey;
  border-right: none;
}
.logged-out{
  display: flex;
  flex-direction: row-reverse;
}
.header-login-button{
  background-color: orange;
  height: 36px;
  width: 80%;
  color: black;
  border: 1px solid grey;
  border-radius: 8px;
  text-align: center;
}
