.header-input-field{
  display: grid;
  grid-template-columns: 70% 30%;
  background-color: deepskyblue;
}
.logged-in{
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 12px;
}
.logged-out{
  display: grid;
}
.header-logout-button{
  background-color: orange;
    height: 80%;
    width: 80%;
    color: black;
    border: 3px solid grey;
    border-radius: 10%;

}
