.questionpage-component > p{
  padding:6px;
  margin:2px;
}
.questionpage-component{
  display: flex;
  flex-direction: column;
}
.active-question-textarea{
  width: 90%;
}
.active-question-textarea > textarea{
  width:90%;
}
.answer-component{
  display:flex;
  flex-direction: row;
  padding: 6px;
  margin: 2px;
}
.answer-body{
  flex-grow: 1;
}
.answer-body > textarea{
  width:90%;
  margin-left: 6px;
  padding-left: 6px;
}
